<mat-card class="note">
    <mat-card-header>
        <mat-card-title>{{note.noteTitle}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="text">
        <p> {{note.noteText}}</p>
    </mat-card-content>

    <mat-card-actions>
        <button class="delete" (click)="deleteNoteEvent()" mat-raised-button color="accent">delete</button>
        <button class="edit" (click)="editNoteEvent()" mat-button>Edit F</button>
        <button class="edit" mat-button routerLink="/note/{{note.id}}">Edit L</button>
    </mat-card-actions>
</mat-card>
